@font-face{
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url('../../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Roboto Mono Italic";
    src: local("Roboto Mono"), url('../../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}