html {
	font-family: "Roboto Mono";
	color: $green;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			background-color: $green;
			color: $darkgreen;
		}
	}
	ul {
		list-style-type: none;
	}
}

#content {
	font-weight: 200;
	a {
		color: $purple;
		font-weight: normal;
		&:hover {
			color: $darkgreen;
		}
	}
	h4 {
		font-weight: 700;
	}
}
