footer {
	border: 3px dashed #3ce487;
	padding: 20px;
    font-weight: 200;
    margin-bottom: 1.5px;
    display: flex;
    line-height: 1.5rem;
    align-items: center;
    a{
        color: $purple;
    }
}
