header {
	border: 3px solid #3ce487;
	padding: 20px;
	font-weight: 200;
	ul {
		display: flex;
		li {
			display: inline-block;
			font-weight: normal;
		}
	}
	#site_branding {
		display: block;
		font-size: 2rem;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
		position: relative;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $darkgreen;
			}
		}
		&::after {
			content: '|';
			animation: blink 1s infinite step-end;
			margin-bottom: 1px;
			position: absolute;
			top: -5px;
		}
	}
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
