<nav id="sidebar">
    <ul>
        {{ range where (where .Site.Home.Pages "Section" "!=" "legal") "Kind" "section"}}
            <li>
                <a href="{{.Permalink}}">{{ partial "svgs/icons8-folder.svg" . }}{{.Title}}</a>
                {{ if .Pages}}
                <ul>
                    {{range .Pages}}
                        <li>
                            <a href="{{.Permalink}}">{{.Title}}</a>
                         </li> 
                    {{end}}
                </ul>

                {{end}}
            </li>
        {{end}}       

    </ul>
</nav>
