{{ define "sidebar" }}
    <nav id="sidebar">
        <h2>Index</h2>
        {{ if .Pages }}
            <ul>
                {{ range where .Pages "Section" "!=" "legal" }}
                    <li>
                        <a href="{{ .Permalink }}">
                            <h3>{{ .Title }}</h3>
                        </a>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            {{ if eq .Site.LanguageCode "en-us"}}
                <p>Looks like there's nothing here yet.</p>
            {{else}}
                <p>Hier scheint noch nichts zu sein.</p>
            {{end}}
        {{ end }}
    </nav>
{{ end }}